@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/antd/dist/antd.css';
// @import '../node_modules/@ant-design/pro-form/dist/form.css';
// @import '../node_modules/@ant-design/pro-form/dist/form.css';
// @import '../node_modules/@ant-design/pro-table/dist/';
// imporwt '@ant-design/pro-table/dist/table.css';
// import '@ant-design/pro-layout/dist/layout.css';


$header-height: 64px;
$border: 1px solid #f0f0f0;

.layout {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    bottom: 0px;
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    transition: all .2s;
    border-right: $border;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}


.header {
    height: $header-height;
    border-bottom: $border;
}

.logo {
    height: $header-height;
    border-bottom: $border;
}


.footer {
    height: 100px;
    // background-color: bisque;
}

// 
.table {
    @apply min-w-full;

    thead {
        tr {
            @apply border-b;
            th {
                @apply px-6 py-4 text-sm font-medium text-gray-900 text-left;
            }
        }
    }

    tbody {
        @apply border-b;

        tr {
            @apply border-b;

            td {
                @apply px-6 py-4 text-sm font-light text-gray-900 text-left;
            }
        }
    }
}